{% extends 'base.html' %}

{% block content %}
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Device</h4>
        <p class="card-description">Update name, store, status</p>
        <form class="forms-sample">
          <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Store</label>
            <select class="form-select" aria-label="Default select example">
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleSelectGender">Status</label>
            <div class="form-check form-check-success">
              <label class="form-check-label"><input type="checkbox" class="form-check-input" checked="" />Online <i class="input-helper"></i></label>
            </div>
          </div>
          <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
          <a href="{% url 'devices' %}" class="btn btn-light">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
