.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-bar {
  width: 80%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 20px;
}

.menu-button {
  border: none;
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: border-color 0.3s;
  font-size: 1.2rem;
  font-weight: bold;
}

.menu-button.active {
  border: 1px solid black;
}

.menu-button:hover {
  border: 1px solid black;
}

.menu-button-pink {
  border: none;
  background-color: pink;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: border-color 0.3s;
  font-size: 1.2rem;
  font-weight: bold;
}

.menu-button-pink.active {
  border: 1px solid black;
}

.body-container {
  width: 80%;
  height: 60%;
  /* Adjusted for the menu bar height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  /* Distance between menu bar and frames */
}

.vertical-frame {
  width: 20%;
  height: 50vh;
  border-radius: 20px;
  /* Distance between frames */
  position: relative;
  /* Needed for absolute positioning */
  display: flex;
  justify-content: center;
  /* Center the brightness bar horizontally */
  align-items: center;
  /* Center the brightness bar vertically */
}

.left-frame {
  background-color: #6e6e6e;
}

.right-frame {
  background-color: #606060;
}

.horizontal-frame {
  width: 50%;
  height: 50vh;
  background-color: #6e6e6e;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.canvas {
  display: none;
}

.capture-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: pink;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.capture-button:hover {
  background-color: #ff69b4;
}

.image-row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  /* Distance from the frames */
}

.square {
  width: 185px;
  height: 239px;
  background-color: #E1E1E1;
  border-radius: 10px;
  margin: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square-selected {
  border: 5px solid pink;
}

.square:hover {
  border: 5px solid pink;
  /* Pink border on hover */
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.5);
  /* Pink shadow on hover */
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-top: 10px;
}

.text {
  text-align: center;
  margin-top: 5px;
  font-size: 1.5rem;
}

.brightness-bar {
  width: 80%;
  display: inline-grid;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  left: 39%;
  height: 100%;
}

.brightnessRange {
  height: 139%;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  margin-top: 20px;
}

.text-container {
  margin-top: 20px;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.rounded-button {
  border: none;
  background-color: pink;
  color: white;
  padding: 20px 45px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.9em;
  margin-top: 10px;
}

.rounded-button:hover {
  background-color: #ff69b4;
}

.imageRight {
  width: 300px;
  height: 220px;
  border-radius: 10px;
  margin-top: 10px;
}

.h2Left {
  margin-top: -11px;
  color: white;
  text-transform: uppercase;
}

.h3Left {
  margin-top: -20px;
  color: white;
}

.brightness-text {
  position: absolute;
  bottom: 0;
  justify-content: center;
  color: white;
}

.vertical-frame-frame {
  width: 48%;
  height: 70vh;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.left-frame-frame {
  margin-right: 20px;
  background-color: #f9eaec;
  /* Updated spacing */
}

.right-frame-frame {
  margin-left: 20px;
  background-color: #f9eaec;
  /* Updated spacing */
}

.frame-content-frame {
  background-color: #f9eaec;
  border-radius: 10px;
  padding-bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.header-frame {
  background-color: #ed93a0;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 20px 20px 0 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.photo-frame {
  flex-grow: 1;
  /* Allow the image to grow to fill the available space */
  width: auto;
  /* Ensure the image scales proportionally */
  max-width: fit-content;
  /* Ensure the image does not exceed the frame width */
}

.footer-button-frame {
  border: none;
  background-color: white;
  border-radius: 20px;
  padding: 20px 20px;
  margin: 25px;
  cursor: pointer;
  width: 85%;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
}

.frame-content-frame:hover {
  border: 5px solid pink;
  /* Add border on hover */
  border-radius: 10px;
  /* Add rounded corners on hover */
}

.frame-content-frame:active {
  border: 5px solid pink;
  /* Add border when clicked */
  border-radius: 10px;
  /* Add rounded corners when clicked */
}